.container {
    max-width: 1300px;
    width: 100%;
    margin: 50px auto;
}

.verify__group {
    padding: 80px 5%;
}

.verify__text {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.verify__submit-button {
    display: block;
    background: #d9d9d9;
    font-weight: bold;
    padding: 0 30px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 1px solid #000;
    width: 257px;
    height: 69px;
    margin: 50px auto;
    text-align: center;
    line-height: 69px;
}

.verify__resend-link {
    display: block;
    color: #0073cc;
    text-align: center;
    font-size: 1.25rem;
    background: transparent;
    border: none;
    margin: 0 auto;
}
